alembic
aniso8601
blinker
click
colorama
Flask
Flask-Admin
Flask-JWT-Extended
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
packaging
PyJWT
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
WTForms